In [9]:
x= 8
y= 9
z= 4

if y < x < z :
    print ("z is greater")
elif (x < y > z ):
    print ("y is greater ")
else:
    print("x is greater among all")

y is greater

In [ ]:
elif (x > z):
    print ("x is greater than z")

In [10]:
r = (2,3,5,7)

In [11]:
type(r)

tuple

In [12]:
x=1.23
y = 3.5

In [13]:
s=(x,y)

In [14]:
type(s)

tuple

In [15]:
s

(1.23, 3.5)

In [16]:
r

(2, 3, 5, 7)

In [17]:
l1,l2,l3,l4 = r

In [18]:
l1

2

In [19]:
l4

7

In [21]:
coordinates = (1,4,5,6,54,34,2,4 ,8)

In [22]:
coordinates

(1, 4, 5, 6, 54, 34, 2, 4, 8)

In [25]:
r+(6 , )

(2, 3, 5, 7, 6)

In [27]:
r = r + (6,)

In [28]:
r

(2, 3, 5, 7, 6)

In [29]:
e= [1,4,5,3,4,6,2,4,7,4,6,7,3,2,2,3,5]

In [30]:
len(e)

17

In [32]:
e.count(2)

3

In [33]:
sum(r)

23

In [35]:
sum(e)

68

In [36]:
type(2,)

int

In [37]:
type((2,))

tuple

In [38]:
range(5)

range(0, 5)

In [40]:
list(range(2,14,5))

[2, 7, 12]

In [42]:
"eight equals " + "8"

'eight equals 8'

In [43]:
r

(2, 3, 5, 7, 6)

In [45]:
d= "ray of hope"

In [46]:
d.replace("r","R")

'Ray of hope'

In [47]:
d.replace("ray","full")

'full of hope'

In [48]:
d

'ray of hope'

In [52]:
d.replace ("ray","full")

'full of hope'

In [59]:
d.replace("hope","happy")

'ray of happy'

In [60]:
d

'ray of hope'

In [62]:
d.replace("ray of hope","full of happy")

'full of happy'

In [63]:
d

'ray of hope'

In [64]:
d.replace("ray of hope","happiness")

'happiness'

In [65]:
type(d)

str

In [66]:
len(d)

11

In [76]:
d2=d.split("ray of hope")

AttributeError: 'list' object has no attribute 'split'

In [78]:
d = ("words of wisdom")

In [83]:
d1=d.split(" ")

In [84]:
type(d1)

list

In [85]:
len(d1)

3

In [87]:
d1[2]

'wisdom'

In [68]:
type(d)

list

In [69]:
d[1]

''

In [70]:
len(d)

2

In [71]:
d[0]

''

In [88]:
type(d)

str

In [89]:
type(d1)

list

In [90]:
d1[0].upper()

'WORDS'

In [91]:
d1[2].title()

'Wisdom'

In [93]:
2+2

4

In [99]:
"2" + "2"

'22'

In [95]:
2 * "2"

'22'

In [100]:
str(range(10))

'range(0, 10)'

In [101]:
"".join([str(i) for i in range(10)])

'0123456789'

In [102]:
([str(i) for i in range(10)])

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [103]:
join([str(i) for i in range(10)])

NameError: name 'join' is not defined

In [106]:
"".join([str(i) for i in range(10)])

'0123456789'

In [108]:
x = "125,000"

In [109]:
type(x)

str

In [111]:
x1 = x.split(" ")

In [112]:
type(x1)

list

In [116]:
x.isdigit()

False

In [118]:
s="dskdjwiueiwj"

In [119]:
s.isdigit()

False

In [120]:
a="1234322"

In [121]:
a.isdigit()

True

In [122]:
word="antidisestablishmentarism"

In [123]:
letter= set(word)

In [124]:
letter

{'a', 'b', 'd', 'e', 'h', 'i', 'l', 'm', 'n', 'r', 's', 't'}

In [125]:
len(word)

25

In [126]:
len(letter)

12

In [131]:
v= list(range(10))

In [132]:
v

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
v.index(3)

3

In [139]:
g=[4,5,6,2,4,6,7,8]

In [140]:
g.count(4)

2

In [142]:
h=set(g)

In [143]:
h

{2, 4, 5, 6, 7, 8}

In [144]:
h.add(13)

In [154]:
h

{2, 4, 5, 6, 7, 8, 13}

In [151]:
male=set(range (10))

In [152]:
male

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [157]:
h=[3,6,76,54,66,54,35]

In [159]:
h.sort(reverse=True)

In [160]:
h

[76, 66, 54, 54, 35, 6, 3]

In [161]:
h.pop()

3

In [162]:
h.sort()

In [163]:
h

[6, 35, 54, 54, 66, 76]

In [165]:
h.pop(5)

76

In [166]:
male.pop()

0

In [168]:
male.pop()

1

In [172]:
e=set(range(15))

In [173]:
e

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [176]:
f = set([3,5,7,9,11,13])

In [177]:
h=e-f

In [178]:
h

{0, 1, 2, 4, 6, 8, 10, 12, 14}

In [179]:
#setunion
a= h | f

In [180]:
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
#Set problems

In [181]:
x={1,2,3} 
y={2,3,4}

In [182]:
#setunion
x | y

{1, 2, 3, 4}

In [183]:
x - y

{1}

In [184]:
y-x

{4}

In [187]:
(x-y) | (y-x)

{1, 4}

In [188]:
x.issubset(y)

False

In [191]:
x in y

False

#Dictionaries

In [192]:
#empty dictionaries

age = {}  
age= dict()

In [194]:
age = {"sam":16 , "rin": 17,"tin":19,"ram":14}

In [196]:
age["sam"]

16

In [198]:
age["sam"]+= 1

In [199]:
age["sam"]

17

In [200]:
#we first take the value of the object, we add one to that object, and then we reassign it back to the original object.

age["sam"]+= 1

In [201]:
age["sam"]= age["sam"] + 1

In [202]:
age["sam"]

19

#extracting all names in dictionary

In [203]:
name=age.keys()

In [205]:
type(name)

dict_keys

In [208]:
age["fin"] = 17

In [209]:
name

dict_keys(['sam', 'rin', 'tin', 'ram', 'fin'])

In [211]:
#returning all values in age
age.values()

dict_values([17, 17, 19, 14, 17])

In [212]:
#for testing membership in a dictionary

In [215]:
"sam" in age

True

In [216]:
"tina" in age

False

In [219]:
age = {"sam":16 , "rin": 17,"tin":19,"ram":14}

In [224]:
age["sam"]

16

In [227]:
age

{'sam': 16, 'rin': 17, 'tin': 19, 'ram': 14}